youtube-dl
spacemacs
spacemacs-term
f2py*
speedtest.py
#python and jupyter
jupyter*
__pycache__/
iptest
iptest3
ipython
ipython3
jlpm
jsonschema
pybabel
pygmentize
pyjson5
send2trash
wsdump.py
nodeenv
nvim.appimage
start-ohmyzsh
dataframe_image
fonttools
imageio_download_bin
imageio_remove_bin
lsm2bin
meson
pip
pip3
pip3.8
pyftmerge
pyftsubset
skivi
tiff2fsspec
tiffcomment
tifffile
ttx
fixup_speech_v1_keywords.py
fixup_speech_v1p1beta1_keywords.py
fixup_translate_v3_keywords.py
fixup_translate_v3beta1_keywords.py
pyrsa-decrypt
pyrsa-encrypt
pyrsa-keygen
pyrsa-priv2pub
pyrsa-sign
pyrsa-verify
emacs
